@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   

}
body{
    background-image: url("/images/bg-intro-desktop.png");
    background-color:  hsl(0, 100%, 74%)  !important ;
    overflow-x: hidden !important;
}
.heading h1{
    margin-top: 180px !important;
    font-size: 40px !important;
    font-weight: 800;
    color: white ;
    margin-left: 60px;
    padding: 0;

}
.heading p{
    font-weight: 600;
    color: white;
    font-size: 16px;
    margin-left: 60px;
}
.heading button{
    background-color:  hsl(248, 32%, 49%);
    height: 45px !important;
    width: 43% !important;
    border-radius: 10px;
    border: none !important;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 15%;
}
.heading button span{
    font-weight: 400;
    
}

.container1 {
    margin-top: 20px;
    width: 40%;
    height: 530px;
    padding: 20px 20px 20px 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 25%;
    left: 50%;
}


.input-group{
    
    display: block;
    align-items: center;
    position: relative;
    margin-top: 10px;
}
.input-group input{
    height: 30px;
    border: 1px solid black;
    width: 90%;
    border-radius: 5px;
    padding: 10px !important;
    margin-left: 10px;
    margin-top: 20px;
}

::placeholder{
    font-size: 14px;
}

 button.claim{
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px ;
    outline: 0;
    cursor: pointer;
    display: block;
    width: 95% !important;
    height: 40px;
    margin: 30px auto 10px;
    font-weight: 600;
}
.input-group span{
    color: red !important;
    font-size: 14px;
    font-weight: 600 !important;
}
.input-group span i{
    position: absolute !important;
    left: 95% !important;
    top: 20% !important;
    color: seagreen !important;
}

form  span{
    color: red !important;
    font-size: 16px;
    text-align: center !important;
    font-weight: 600 !important;
    margin-left: 8px;
}
.container1 h6{
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}
.container1 h6 span{
    color: red !important;
    font-size:16px;
}
@media  screen and (max-width:850px){
    .heading h1{
        
        font-size: 35px !important;
        color: white;
        margin-left: 30px;
    
    }
    .heading p{
        margin-top: 10px;
        font-weight: 500;
        color: white;
        font-size: 15px;
        margin-left: 30px;
    }
    .heading button{
        background-color:  hsl(248, 32%, 49%);
        height: 45px !important;
        width: 90% !important;
        position: absolute;
        left: 5%;
        top: 70%;
    }
    .heading button span{
        font-weight: 400;
        
    }
    
    .container1 {
        margin-top: 20px;
        width: 80%;
        height: 530px;
        padding: 10px 20px 20px 20px;
        position: absolute;
        top: 79%;
        left: 4%;
    }
    
    
    .input-group{
        margin-top: 10px;
        display: block;
    }
    .input-group input{
        height: 35px;
        border: 1px solid black;
        width: 90%;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    ::placeholder{
        font-size: 14px;
    }
    
     button.claim{
        background-color: hsl(154, 59%, 51%);
        color: #fff;
        width: 95% !important;
        height: 35px;
        margin-left:10px ;
        font-weight: 600;
        
    }
   
    
    
    
}

